<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Currency Converter</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/AspNetCoreCurrencyConverter.styles.css" />
</head>
<body class="blueGradient">
    <header>

        <nav class="navbar navbar-expand text-white">
            <div class="container-fluid">

                <ul class="navbar-nav  ms-auto">
                    <li class="nav-item">
                        <a class="nav-link text-white-50" asp-page="/Index">Main</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white-50" asp-page="/Code">Code</a>
                    </li>
                </ul>

            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>